
*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: #ffffff;
	min-height: 100vh;
    padding-top: 50px;
}

@media screen and (min-width: 650px) {
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 65px;
	    z-index: 100000;
        transition: 0.5s;
        background-color: rgb(200, 200, 200);
    }
}

@media screen and (max-width: 650px){
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 10px;
        padding-right: 0px;
	    z-index: 100000;
        background-color: rgb(200, 200, 200);
    }
    header h1 {
        font-size: 4vw;
        padding-right: 10px;
    }
} 


header.sticky {
	padding: 5px 100px;
	background: #ffffff;
}
header .logo {
	position: relative;
	font-weight: 700;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding-right: 20px;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
    justify-content: center;
	align-items: center;
}

header ul li a {
	position: relative;
	margin: 0 14px;
	text-decoration: none;
	color: #000000;
	letter-spacing: 2px;
	font-weight: 500px;

}

header.sticky .logo,
header.sticky ul li a {
	color: #000;
}

li a.active,li a:hover{
	color: white;
} 

#welcomeInfo {
    width: auto;
    height: auto;
}

#welcomeInfo .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#welcomeInfo .contentText {
    width: 360px;
    height: fit-content;
    background:rgb(170, 170, 170);
    text-align: center;
    border-radius: 20px;
    margin: 15px 30px;
    font-size: 50px;
    padding: 20px 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
}
/*
#welcomeInfo .contentHeader p { /* NEW STUFF I ADDED 
    font-size: 40px;
    color:rgb(255,255,255);
}*/

#welcomeInfo .contentText p {
    font-size: 20px;
    color:rgb(255, 255, 255);
}

/* BIG GRAY BLOCK */
#welcomeInfo .contentImage {    
    width: 900px;
    height: 550px;
    background:rgb(170, 170, 170);
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin-top: 30px;
    margin: 0px 15px;
    margin-bottom: 10%;;
    justify-content: center;
    align-content: center;
    
}

#welcomeInfo .contentImage img { /* Image size & borders */
    width: 700px;
    height: 400px;
}

@media screen and (max-width: 3000px) {
    #welcomeInfo .contentText {
    
    }
    
    #welcomeInfo .contentImage {
    }
}

@media screen and (max-width: 1200px) {
    #welcomeInfo .contentText {
        font-size: 40px;
    }
    
    #welcomeInfo .contentImage {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    #welcomeInfo .contentText {
        font-size: 30px;
    }
    
    #welcomeInfo .contentImage {

    }
}

.getStarted {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.actionsTitle {
    padding-top: 40px;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 40px;
    color:rgb(125, 125, 125);
}

.footer {
    background-image: linear-gradient(white,gray);
}

.footerCont {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display:flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: black;
    margin: 20px; 
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
}

.footerBottom {
    padding: 20px;
    text-align: center;
    background-color:rgb(227, 227, 227);
}

.footerBottom p {
    color: black;
}

@media screen and (max-width: 500px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

.websiteInfoContainer {
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background:rgb(213, 213, 213);
    justify-content: center;
    border: black 2px solid;
}
/*
.websiteInfo {
    max-width: 80em;
    width: 100%;
    height: auto;
    background:rgb(170, 170, 170);
    border-radius: 1em;
    justify-content: center;
    justify-items: center;
    border: black 2px solid;
}*/

.boxes {
    border: black 2px solid;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background:rgb(170, 170, 170);
    border-radius: 1em;
}
.box {
    width: 400px;
    height: 200px;
    background:rgb(255, 255, 255);
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 25px 30px;
}

.title {
    justify-content: center;
    text-align: center;
    padding: 5em 0em;
}