
*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: #ffffff;
	min-height: 100vh;
    padding-top: 50px;
}

@media screen and (min-width: 650px) {
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 65px;
	    z-index: 100000;
        transition: 0.5s;
        background-color: rgb(200, 200, 200);
    }
}

@media screen and (max-width: 650px){
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 10px;
        padding-right: 0px;
	    z-index: 100000;
        background-color: rgb(200, 200, 200);
    }
    header h1 {
        font-size: 4vw;
        padding-right: 10px;
    }
} 


header.sticky {
	padding: 5px 100px;
	background: #ffffff;
}
header .logo {
	position: relative;
	font-weight: 700;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding-right: 20px;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
    justify-content: center;
	align-items: center;
}

header ul li a {
	position: relative;
	margin: 0 14px;
	text-decoration: none;
	color: #000000;
	letter-spacing: 2px;
	font-weight: 500px;

}

header.sticky .logo,
header.sticky ul li a {
	color: #000;
}

li a.active,li a:hover{
	color: white;
} 

#welcomeInfo {
    width: auto;
    height: fit-content;
}

#welcomeInfo .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#welcomeInfo .contentText {
    width: 360px;
    height: fit-content;
    background:rgb(170, 170, 170);
    text-align: center;
    border-radius: 20px;
    margin: 15px 30px;
    font-size: 50px;
    padding: 20px 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
}

#welcomeInfo .contentText p {
    font-size: 20px;
    color:rgb(255, 255, 255);
}

#welcomeInfo .contentImage {
    width: 900px;
    height: 550px;
    background:rgb(170, 170, 170);
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 15px 30px;
}

@media screen and (max-width: 3000px) {
    #welcomeInfo .contentText {

    }
    
    #welcomeInfo .contentImage {

    }
}

@media screen and (max-width: 1200px) {
    #welcomeInfo .contentText {
        font-size: 40px;
    }
    
    #welcomeInfo .contentImage {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    #welcomeInfo .contentText {
        font-size: 30px;
    }
    
    #welcomeInfo .contentImage {

    }
}



#speechBubble {
    height: 80px;
    width:fit-content;
    border:rgb(0, 0, 0);
    border-radius: 5px;
    border-color: #000;
    border-style: solid;
    color:rgb(255, 255, 255);
    margin: 10px;
    margin-left: 20px;
    position: relative;
    background-color: #000;
}

#speechBubble::after {
    content: "";
    display: block;
    position: absolute;

    left:-15px;
    top: 15px;

    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #000;
    
}

#speechBubble h4 {
    font-size: 20px;
    margin: 10px;
}

#speechBubble h5 {
    justify-content: center;
    position: relative;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
    color:rgb(125, 125, 125);
}

#activeVoteOpportunitiesFeed {
    background-color: #d7d7d7;
    padding:  50px 0px 40px 10px;
}

#activeVoteOpportunitiesFeed h2 {
    border-color: transparent;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 30px 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: fit-content;
    height: auto;
    background-color: rgb(170, 170, 170);
}

#activeVoteOpportunitiesFeed .boxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#activeVoteOpportunitiesFeed .box {
    width: 400px;
    height: 200px;
    background:rgb(170, 170, 170);
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 25px 30px;
}

.getStarted {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ballotBox {
    height: fit-content;
    min-width: 330px;
    border-radius: 10px;
    border-color:rgb(227, 227, 227);
    border-style: solid;
    border-width: 1px;
    padding: 20px, 0;
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.createBallotImage {
    border-radius: 1rem;
    border-color: rgb(221, 221, 221);
    background:rgb(170, 170, 170);
    height: 200px;
    width: 100%;
}

.joinBallotImage {
    border-radius: 1rem;
    border-color: rgb(221, 221, 221);
    background:rgb(170, 170, 170);
    height: 200px;
    width: 100%;
}

.ballotBox h3 {
    float: left;
    padding: 10px 0px;
    font-size: 25px;
}

.ballotBox .createJoinBallot {
    border-radius: 10px;
    border-color: transparent;
    border-width: 3px;
    padding: 15px 20px;
    margin: 0px 30px;
    width: fit-content;
    font-size: 20px;
} 

/*@media screen and (max-width: 770px) {
    .ballotBox {
        padding: 20px 10px;
    }

    .ballotBox h3 {
        font-size: 19px;
    }

    .ballotBox .createJoinBallot {
        margin: 0px 10px;
        padding: 15px 0px;
        font-size: 15px;
    }
}*/

.actionsTitle {
    padding-top: 40px;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 40px;
    color:rgb(125, 125, 125);
}

.aboutVotespot {
    /*cool background sorta, mostly one plain color but with like 
    shapes? like outlines of stars, the earth, notes, ballot boxes etc. */ 
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(170, 170, 170);
    padding-top: 30px;
}

.aboutVotespot .bullets {
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    
}

.aboutVotespot .bullet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aboutVotespot .bullet .bullet1Image {
    background-color:rgb(125, 125, 125);
    height: 70px;
    width: 70px;
    margin: 40px 0px;
}

.aboutVotespot .bullet .bullet2Image {
    background-color:rgb(125, 125, 125);
    height: 70px;
    width: 70px;
    margin: 40px 0px;
}

.aboutVotespot .bullet .bullet3Image {
    background-color:rgb(125, 125, 125);
    height: 70px;
    width: 70px;
    margin: 40px 0px;
}

.aboutVotespot .bullet h3 {
    padding-left: 5%;
    font-size: 20px;
}

.aboutVotespot .bullet p {
    line-height: 30px;
    width: 70%;
    color: white;
}

@media screen and (max-width: 800px) {
    .aboutVotespot .bullet p {
        width: auto;
    }
    
}
.aboutVotespot .bullet .column {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.footer {
    background-image: linear-gradient(white,gray);
}

.footerCont {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display:flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: black;
    margin: 20px; 
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
}

.footerBottom {
    padding: 20px;
    text-align: center;
    background-color:rgb(227, 227, 227);
}

.footerBottom p {
    color: black;
}

@media screen and (max-width: 500px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}