*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: white;
	min-height: 100vh;
    padding-top: 50px;
    width: 100%;
    overflow-x: hidden !important;
}

@media screen and (min-width: 650px) {
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
        margin: 30px 0;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 65px;
	    z-index: 100000;
        transition: 0.5s;
        background-color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 650px){
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 10px;
        padding-right: 0px;
	    z-index: 100000;
        background-color: rgb(255, 255, 255);
    }
    header h1 {
        font-size: 4vw;
        padding-right: 10px;
    }
    p {
        font-size: 50px;
    }
} 

#navbar h1 {
    width: 100%;
    height: 100%;
    left: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar {
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    background:linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}


header.sticky {
	padding: 5px 100px;
	background: #ffffff;
}
header .logo {
    left: 40px;
    height: 100%;
    width: 100%;
	position: relative;
	color: rgb(0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
    font-family: headingFont;
    font-weight: 1000;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
	align-items: center;
    width: fit-content;
    font-family: headingFont;
    font-weight: 1000;
}

header ul li a {
	position: relative;
	margin: 0 14px;
	text-decoration: none;
	color: #000000;
	letter-spacing: 2px;

}

header.sticky .logo,
header.sticky ul li a {
	color: #000;
}

li a.active,li a:hover{
	color: white;
} 

.footer {
    background-image: linear-gradient(white,gray);
}

.footerCont {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display:flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a:hover {
    background-color: white;
    transition: 0.2s;
}

.socialIcons a i:hover {
    color: black;
    transition: 0.2s;
}

.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: black;
    margin: 20px; 
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
}

.footerBottom {
    padding: 20px;
    text-align: center;
    background-color:rgb(227, 227, 227);
}

.footerBottom p {
    color: black;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/*input tool for computer specifications */

:root {
    --primary-color: #4682B4;  
    --secondary-color: #FF7F50;
    --neutral-color: #B0C4DE; 
}

@font-face {
    font-family: headingFont;
    src: url(../font/Acme-Regular.ttf);
}

@font-face {
    font-family: lowFont;
    src: url(../font/ABeeZee-Regular.ttf);
}


header .logo:hover {
    color:rgb(255, 255, 255);
}

.mainCont {
    justify-self: center;
    padding-top: 30px;
    width: 80%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 5em;
    padding: 5%;
}

.title {
    font-size: 30px;
    color: var(--primary-color);
    font-family: headingFont;
}

.text {
    margin: 20px 20%;
    font-family: lowFont;
    color: black;
    font-size: 18px;
    line-height: 25px;
}

.miniTitle {
    padding: 22px;
    font-size: 20px;
    font-family: lowFont;
}

.fullCont {
    padding-top: 30px;
    width: screen;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

hr {
    border: black 1px solid;
}
.cool-font{
    font-family: headingFont;
    }
    
.typing::after {
        content: "|";
        animation: blink 1s infinite;
        margin-left: 3px;
        display: inline-block;
    }
    
@keyframes blink {
        50% {
          opacity: 0;
        }
}

@media screen and (max-width: 700px) {
    header .logo {
        font-size: 20px;
    }
    #navbar li a {
    font-size: 17px;
    }
}